<h2>Signup below</h2>

<form action="/signup" method="POST">
  <div>
    <label for="user_name">Username</label>
    <input type="text" name="user_name" id="user_name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="submit">
    <input class="submit_button" type="submit" value="Sign Up" />
  </div>
</form>